* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg1 {
    background: url("./img/bg/bgf1.jpeg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

button {
    background-color: transparent;
    padding: 5px 15px;
    border: 0;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.Checkout {
    background-color: #B7EAAF;
}

.Checkout a {
    color: #000;
}

.bg1 nav {
    position:absolute;
    padding-top: 10px;
    top:0;
/*     height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg2 {
    /* back */
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;

    /* width: 100vw;
    height: 900px; */
    /* background-position: center;
    background-size: cover; */
    /* background-repeat: no-repeat; */
    /* back */
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(113, 114, 114, 0.5);
    backdrop-filter: blur(20px);
    /* transform: translate(50%, 50%); */
}

.play img {
    cursor: pointer;
}

.container {
    height: 85vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 15px; */

}

.boxContainer {
    /* padding: 50px 50px; */
    /* background-color: aqua; */
    height: 100%;

    width: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.container2 {
    text-align: center;

}

.container3 {
    display: flex;
    justify-content: center;

    /* padding: 0 5px; */
}

.container3 a:hover {
    background-color: #fff;
    color: #000;
}

.container3 a {
    /* text-align: center; */
    /* width: 190px; */
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    /* padding-left: 5px; */
    /* background-color: blueviolet; */

}

.container1 h1 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
}

.container4 {
    display: flex;
    justify-content: space-around;
}

.container4 img {
    width: 35px;
}

.bg2 {
    width: 100vw;
    height: max-content;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.bg2p span {
    font-weight: 500;
    /* margin-top: 30px; */
}

.tfs:hover {
    background: #B7EAAF;
    color: #000;
}

.tfs {
    /* background: linear-gradient(90deg, rgba(127, 202, 33, 0.8) 0%, #105200 100%); */

    /* Button Shadow 1 */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    background: #375739;

    /* Button Shadow 1 */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    padding: 8px 24px;
    cursor: pointer;
}

.rgabh {
    margin: 20px 0;
    font-weight: 500;
    color: #B7EAAF;
}

.plantContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;

}

.plantTitle {
    color: #355342;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
}


.div1 {
    width: 250px;
    height: 200px;
    background: url("img/bg/Rectangle\ 13.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    position: relative;
}

.div2 {
    width: 250px;
    height: 200px;
    background: url("img/bg/Rectangle\ 13\(1\).png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    position: relative;
}

.div3 {
    width: 250px;
    height: 200px;
    background: url("img/bg/Rectangle\ 13\(2\).png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    position: relative;
}

.div4 {
    width: 250px;
    height: 200px;
    background: url("img/bg/Rectangle\ 13\(3\).png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    position: relative;
}

.ps1 {
    position: absolute;
    color: #FFFFFF;
    top: 5px;
    left: 10px;
}

.ps2 {
    position: absolute;

    bottom: 5px;
    left: 10px;
}

.shopDrop {
    display: none;
    position: absolute;
    z-index: 10000;
    /* top: 55px; */
    /* left: 0; */
    top: 45px;
    right: 600px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    width: 140px;
    padding: 8px 0;
    height: max-content;
    background: #213F36;
    /* transition: shopDrop 3s; */
}

/* 
.shop:hover>.shopDrop {
    color: red;
} */

.shop:hover .shopDrop {
    display: block;
    background: #213F36;

}

.shopDrop h4 {
    padding: 6px 0;
}

.shopDrop h4:hover {
    background: #B7EAAF;
    color: #000;

}

.mq {
    visibility: hidden;

    height: 40px;
    background-color: #000;
    width: 100%;
    display: flex;
    /* padding: 0 8px; */
    justify-content: space-between;
}

.hamburger {
    width: 50px;
    height: 100%;
    /* background-color: #fff; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropDown {
    display: none;
    position: absolute;
    top: 38px;
    z-index: 10000;
    left: 0;
    width: 260px;
    height: max-content;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

.dropDown p {
    color: #FFF;
    text-align: center;
    /* width: 100%; */
    /* height: fit-content; */
    padding: 7px 0;
    /* color: #000; */
    /* background-color: #fff; */
}

.line1,
.line2 {
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.nightmode {
    width: 40px;
    height: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.night1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
}

.night2 {
    background-color: #000;
    transform: translateX(-10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* margin-right: 8px; */
}

@media (max-width:468px) {
    .bg1 nav {
        display: none;
        height: 30px;
        width: 100%;
        z-index: 1000;
        background-color: blue;
    }

    .mq {
        visibility: visible;
    }

    .container4 {
        gap: 20px;
        flex-wrap: wrap;
    }

    .container4 img {
        width: 100px;
    }

    .boxContainer {
        gap: 70px;
    }

    .play {
        display: none;
    }

    .bg2 {
        margin-bottom: 40px;
    }

    .plantContainer {
        flex-direction: column;
        gap: 30px;
        height: 100%;
        margin-bottom: 100px;

        /* width: 100%; */

    }



    .div1,
    .div2,
    .div3,
    .div4 {
        width: 100%;
        height: 290px;

    }

    .hamburger:hover .dropDown {
        display: block;
    }
}